main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 25px;

    .div-acor {
        display: flex;
        flex-wrap: wrap row;
        margin: 20px;

        h2 {
            text-align: center;
        }

        .div-ord {
            width: 1 / 5.5;
        }
    }
}

.column-container {
    display: inline-block;
    width: 100%;

    .accordion-item {
        width: 100%; // Ajuste para que las columnas ocupen el 100% del ancho del contenedor
        box-sizing: border-box; // Ajuste para incluir el relleno y el borde en el ancho total
    }

    .accordion-body {
        box-sizing: border-box; // Ajuste similar para el cuerpo del acordeón
    }
}